
.repository{
	display: none;
}
.subTab{
	background: #ccc;
	margin: 0;
}
.box{
	border: 1px solid #999;
	padding: 5px;
	margin: 0px;
}
.title-subtab{
	cursor: pointer;
	border: 1px solid #999;
	margin: 0;
	padding: 5px;
	min-height: auto;
}
.order-nav{
	cursor: pointer;
	margin: 0;
}
 .state-highlight { height: 40px; border: 3px dashed #aaa;}
