
.lateral-box{
	background: #eee;
	max-width: 100%;
	width: 400px;
	position: absolute;
	top: 30px;
	right: 10px;
	min-height: 200px;
	padding: 5px;
}

div[data-role=footer]{
	height: 60px;
}
div[data-role=prefooter]{
	margin-bottom: 60px;
}

div[data-role=content]{
	display: none;
	height: 100%;
}
div[data-role=content]:first-child{
	display: block;
}


.ui-icon.ui-icon-custom{
    background-size: contain !important;
}

.ui-page {
    background-size: cover !important;
}

div[data-role=prefooter] .ui-navbar.ui-mini{
    background: #000;
}